---
import { Image } from "astro:assets";
import { loadTestimonialImages } from "@lib/loadImages.ts";

const images = loadTestimonialImages();

const testimonials = [
  {
    name: "André",
    result: "-10kg en 75 días",
    description:
      "André se esforzaba sin resultados. En 2 meses y medio bajó 10 kg al entender qué hacía mal. Ahora entrena menos y logra más. No le faltaba esfuerzo, le faltaba estrategia.",
  },
  {
    name: "Darío",
    result: "-40kg en 180 días",
    description:
      "Darío pesaba 120 kg y estaba destruido emocionalmente. En 6 meses bajó 40 kg y reconstruyó su autoestima. Hoy se muestra con orgullo: su transformación fue física, mental y emocional.",
  },
  {
    name: "Erlan",
    result: "-7kg en 60 días",
    description:
      "A sus 29 años, Erlan sentía que no tenía tiempo para cambiar. Pero al adaptar el sistema a su vida, bajó panza, recuperó energía y volvió a reconocerse en el espejo. No fue suerte, fue decisión.",
  },
  {
    name: "Esteban",
    result: "-10kg en 90 días",
    description:
      "Esteban bajó más de 10 kg en menos de 3 meses y sanó su relación con la comida. Dejó atrás la ansiedad, sin pasar hambre ni sentirse castigado. Hoy se lo nota por su seguridad, no solo por su físico.",
  },
  {
    name: "Leandro",
    result: "-7kg en 60 días",
    description:
      "Leandro entrenaba pero no veía resultados. Con nuestro sistema, bajó 7 kg en 2 meses y definió su cuerpo. Salió del estancamiento con claridad, seguimiento y un plan a su medida.",
  },
  {
    name: "Alex",
    result: "Recomposición corporal",
    description:
      "Alex no buscaba solo bajar de peso, quería verse fuerte. Perdió grasa, ganó músculo y hoy domina su cuerpo con confianza. Ya no depende de rutinas genéricas: tiene un plan con propósito.",
  },
];

const testimonialsWithImages = testimonials.map((testimonial, i) => ({
  ...testimonial,
  images: images[i],
}));
---

<style>
  .testimonial-carousel .swiper-slide {
    display: flex;
    gap: 32px;
    align-items: center;
  }

  .testimonial-carousel .swiper-button-prev,
  .testimonial-carousel .swiper-button-next {
    position: static;
    padding: 1.5rem;
    border-radius: 50%;
  }

  .testimonial-carousel .swiper-button-prev::after,
  .testimonial-carousel .swiper-button-next::after {
    font-size: 1.5rem;
    color: white;
  }

  .testimonial-carousel .swiper-button-prev::after {
    margin-right: 0.25rem;
  }

  .testimonial-carousel .swiper-button-next::after {
    margin-left: 0.25rem;
  }

  .testimonial-carousel .swiper-pagination {
    position: static;
    margin-top: 1rem;
  }

  @media (max-width: 768px) {
    .testimonial-carousel .swiper-slide {
      flex-direction: column;
    }
  }

  @media (min-width: 1024px) {
    .testimonial-carousel .swiper-button-prev::after,
    .testimonial-carousel .swiper-button-next::after {
      font-size: 2rem;
    }

    .testimonial-carousel .swiper-button-prev,
    .testimonial-carousel .swiper-button-next {
      padding: 2rem;
    }
  }
</style>

<section class="mx-auto my-16 max-w-[1080px] px-4">
  <h1
    class="mb-6 text-center text-2xl text-balance text-black lg:text-3xl dark:text-white"
    aria-label="Testimonios en imágenes de cambios físicos reales"
  >
    los cambios <span class="text-light-primary dark:text-dark-primary"
      >hablan por si solos</span
    >
  </h1>

  <main class="testimonial-carousel container mx-auto">
    <div class="swiper">
      <div class="swiper-wrapper">
        {
          testimonialsWithImages.map(
            ({ name, description, images, result }, index) => (
              <div class="swiper-slide">
                <div class="size-full">
                  <div class="grid w-full grid-cols-2 gap-8">
                    <Image
                      loading="lazy"
                      width={400}
                      height={400}
                      sizes="(max-width: 768px) 90vw, 400px"
                      src={images.antes}
                      alt="Antes"
                      class="relative block size-full max-h-[500px] rounded-xl object-cover"
                    />
                    <Image
                      loading="lazy"
                      width={400}
                      height={400}
                      sizes="(max-width: 768px) 90vw, 400px"
                      src={images.despues}
                      alt="Después"
                      class="relative block size-full max-h-[500px] rounded-xl object-cover"
                    />
                  </div>

                  <div class="mt-4 text-center [&>span]:block">
                    <span class="text-light-text-primary dark:text-dark-text-primary text-md font-bold">
                      {name}
                    </span>
                    <span class="text-light-primary dark:text-dark-primary text-sm">
                      {result}
                    </span>
                  </div>
                </div>

                <div class="bg-light-bg-surface dark:bg-dark-bg-surface size-full space-y-2 rounded-xl p-4">
                  <h2 class="text-light-primary dark:text-dark-primary text-md font-bold">
                    Caso {index + 1} - {name}
                  </h2>
                  <p class="text-light-text-secondary dark:text-dark-text-secondary text-sm">
                    {description}
                  </p>
                </div>
              </div>
            ),
          )
        }
      </div>

      <div class="mt-12 flex w-full justify-between">
        <div class="swiper-button-prev bg-light-primary dark:bg-dark-primary">
        </div>
        <div class="swiper-button-next bg-light-primary dark:bg-dark-primary">
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </main>
</section>

<script>
  import initSwiperCarousel from "@scripts/carousel.ts";

  document.addEventListener("DOMContentLoaded", () => {
    initSwiperCarousel(".testimonial-carousel", {
      autoplay: { delay: 3000 },
      spaceBetween: 20,
      grabCursor: true,
      zoom: false,
      autoHeight: true,
      slidesPerView: 1,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  });
</script>
